/*Common center css*/
* { box-sizing: border-box;margin: 0;padding: 0; }

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}